src/*.exe
src/SABRd
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.SABR
#compilation and Qt preprocessor part
*.qm
Makefile
SABR-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build
Thumbs.db

!src/leveldb/Makefile
